@import "../../../scss/variables";

section {
  background-image: url(/assets/images/petaluma_dt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  height: 30rem;

  >.overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(56, 61, 78, .7);

    >p {
      color: $light-shade;
      font-family: $font-secondary;
      font-size: 2.5rem;
      padding: 0 16rem;
      text-align: center;
    }

    >p:last-of-type {
      margin-top: 0;
    }
  }
}
