@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans&display=swap");

// colors
$primary: #B94750;
$light-shade: #ECE9E6;
$light-accent: #8C8C94;
$dark-shade: #383D4E;
$dark-accent: #AD7F5F;

// fonts
$font-primary: 'Noto Serif', serif;
$font-secondary: 'Open Sans', sans-serif;
