@import "../../../scss/variables";

section {
  background-image: url(/assets/images/jumbotron_bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
  height: 20rem;
  padding: 1rem;
  position: relative;

  >h1 {
    color: $light-shade;
    font-size: 8rem;
    font-family: $font-primary;
    margin: 0;
  }

  >app-weather {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
