main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  >app-jumbotron {
    grid-column: 1 / 7;
  }

  >app-featured-event {
    grid-column: 1 / 4;
  }

  >app-wine-and-dine {
    grid-column: 4 / 7;
  }

  >app-parallax-quote {
    grid-column: 1 / 7;
  }

  app-explore {
    grid-column: 1 / 7;
  }

  app-social {
    grid-column: 1 / 5;
  }

  app-news {
    grid-column: 5 / 7;
  }

  app-footer {
    grid-column: span 6;
  }

}
